<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c6bf4ba6-04b5-461d-b007-c656c87dae33/resourceGroups/Manoj_Gaikwad/providers/Microsoft.Web/sites/TaskManagementSystemApi</ResourceId>
    <ResourceGroup>Manoj_Gaikwad</ResourceGroup>
    <ApiResourceId>/subscriptions/c6bf4ba6-04b5-461d-b007-c656c87dae33/resourceGroups/Manoj_Gaikwad/providers/Microsoft.ApiManagement/service/TaskManagementSystemapi/apis/TaskManagementSystem</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://taskmanagementsystemapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4a4a0f9f-9cac-4ceb-b929-d4625f8766cb</ProjectGuid>
    <MSDeployServiceURL>taskmanagementsystemapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TaskManagementSystemApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>